#Feature1_0 .ant-row > .lef2ju11g8-editor_css {
}
#Feature1_0 .ant-row > .ant-col > .lef2f61oi9i-editor_css {
  margin: 40px 0 0;
}
#Footer0_1.lefjiq7ouo9-editor_css {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  #Feature1_0 .lefhbajv6f-editor_css {
    display: block;
    height: 60%;
    padding: 0px 8px;
  }
}

@media screen and (max-width: 767px) {
  #Footer0_1 .home-page > .lefhbrjeb8p-editor_css {
    width: 100%;
  }
}
#Feature1_0 .ant-row > .ant-col > .lef2f6ipx7e-editor_css {
  font-weight: 500;
  color: rgb(51, 51, 51);
  width: 100%;
  margin: 0px 0px 0.5em;
}

@media screen and (max-width: 767px) {
  #Feature1_0 .ant-row > .ant-col > .lef2f6ipx7e-editor_css {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin: 0px 0px 0.5em;
    padding: 0px 0px;
  }
}
#Feature1_0 .ant-row > .ant-col > .lefhbkfyamj-editor_css {
  color: #666666;
}

@media screen and (max-width: 767px) {
  #Feature1_0 .ant-row > .ant-col > .lefhbkfyamj-editor_css {
    line-height: 1.8;
    text-align: left;
  }
}
#Feature1_0.lef2j7t1ukh-editor_css {
  height: 960px;
}

@media screen and (max-width: 767px) {
  #Feature1_0.lef2j7t1ukh-editor_css {
    height: 560px;
  }
}
#Feature1_0 .ant-row > .lef2jmsa6a8-editor_css {
  padding: 36% 0px 0px;
}

@media screen and (max-width: 767px) {
  #Feature1_0 .ant-row > .lef2jmsa6a8-editor_css {
    width: 100%;
    padding: 16% 16px 0px;
  }
}
