#Feature1_0 .ant-row > .lef2ju11g8-editor_css {
}
#Feature1_0 .ant-row > .ant-col > .lef2f61oi9i-editor_css {
  margin: 40px 0 0;
}
#Feature1_0.lef2j7t1ukh-editor_css {
  height: 560px;
}
#Feature1_0 .ant-row > .lef2jmsa6a8-editor_css {
  padding: 16% 16px 0px;
}

@media screen and (max-width: 767px) {
  #Feature1_0 .ant-row > .lef2jmsa6a8-editor_css {
  }
}
#Feature1_0 .ant-row > .ant-col > .lef2f6ipx7e-editor_css {
  font-weight: 500;
  width: 100%;
  margin: 0px 0px 0.5em;
}
