#Banner0_0.le437uflsf9-editor_css {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(https://images.unsplash.com/photo-1548919973-5cef591cdbc9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80);
}
#Content0_0 .home-page > .title-wrapper > .le5judzmtaa-editor_css {
  height: 88ωvh;
}
#Banner0_0 .le5fvopxx3a-editor_css {
  background-clip: padding-box;
  width: 100%;
  height: 100vh;
  top: 0%;
  background-color: rgba(34, 34, 34, 0.2);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6grerd7u8-editor_css {
  display: none;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gskpuc8-editor_css {
  display: none;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gsy7o6a-editor_css {
  display: none;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gt0g4hd-editor_css {
  display: none;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gt3k684o-editor_css {
  display: none;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gt6692xd-editor_css {
  display: none;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gtb5iad-editor_css {
  display: none;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gtd4dzj-editor_css {
  font-size: 16px;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gtj403ba-editor_css {
  display: none;
  font-size: 16px;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gtimcsra-editor_css {
  font-size: 16px;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gtwrr3qs-editor_css {
  font-size: 16px;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gu0eplv8-editor_css {
  font-size: 16px;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gsk3qvgq-editor_css {
  font-size: 16px;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gsxnhihq-editor_css {
  font-size: 16px;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gszyb088-editor_css {
  font-size: 16px;
}
#Feature7_0 .ant-col > .feature7-block-group > .le6gryvqsbh-editor_css {
  display: flex;
  font-size: 16px;
}
#Banner0_0 .banner0-text-wrapper > .le5g7h0ftsb-editor_css {
  display: none;
  top: 20%;
  left: 0px;
}
#Banner0_0 .banner0-text-wrapper > .le5gw4fbwzs-editor_css {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  min-height: 36px;
  position: relative;
  top: 40%;
  left: 0vh;
}

@media screen and (max-width: 767px) {
  #Banner0_0 .banner0-text-wrapper > .le5gw4fbwzs-editor_css {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    height: 20px;
    min-height: px;
    position: relative;
    left: 0vh;
  }
}
#Banner0_0 .banner0-text-wrapper > .le5hbe54f8-editor_css {
  line-height: 36px;
  top: 40%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (max-width: 767px) {
  #Banner0_0 .banner0-text-wrapper > .le5hbe54f8-editor_css {
    line-height: 36px;
    top: 38%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0rem 0px 0px;
  }
}
