#Content0_0 .home-page > .title-wrapper > .le5judzmtaa-editor_css {
  height: 88ωvh;
}
#Nav0_0.le6v91eq5vd-editor_css {
  position: sticky;
}
#Content5_0 .home-page > .title-wrapper > .les0pncem6b-editor_css {
  background-clip: padding-box;
}
#Footer1_2 .ant-col > .slogan > .les8kdgflxr-editor_css {
  display: none;
}
#Footer1_2 .footer1 > .ant-row > .les8lpdlc3e-editor_css {
  display: none;
}
#Footer1_2 .footer1 > .ant-row > .les8ly9918m-editor_css {
  display: none;
}
#Footer1_2 .ant-row > .ant-col > .les8oynd40m-editor_css {
  text-align: center;
}
#Footer1_2 .footer1 > .ant-row > .les8ozbxymn-editor_css {
}
#Footer1_2 .ant-row > .ant-col > .les8o5vtdcb-editor_css {
  width: 360px;
}

@media screen and (max-width: 767px) {
  #Footer1_2 .ant-row > .ant-col > .les8o5vtdcb-editor_css {
    text-align: left;
    width: 360px;
  }
}
#Footer1_2 .ant-col > div > .les8lm7w1tt-editor_css {
  width: 320px;
}

@media screen and (max-width: 767px) {
  #Footer1_2 .ant-col > div > .les8lm7w1tt-editor_css {
    text-align: left;
    width: 320px;
  }
}

@media screen and (max-width: 767px) {
  #Content5_0 .home-page > div > .lesdoghx6zk-editor_css {
  }
}
#Content5_0 .leryk6mabu-editor_css {
  background-image: url(https://unsplash.com/photos/yZygONrUBe8);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}

@media screen and (max-width: 767px) {
  #Content5_0 .leryk6mabu-editor_css {
    height: 100vh;
    background-image: url('https://unsplash.com/photos/yZygONrUBe8');
    background-attachment: scroll;
    background-blend-mode: normal;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    background-clip: padding-box;
  }
}
#Content5_0.lesdozzx0tf-editor_css {
  min-height: 1200px;
}

@media screen and (max-width: 767px) {
  #Content5_0.lesdozzx0tf-editor_css {
    height: 4000px;
    min-height: 1200px;
  }
}
#Banner0_0 .banner0-text-wrapper > .lewbubr2gh9-editor_css {
  display: none;
}
#Banner0_0 .banner0-text-wrapper > .lewbuiev6g9-editor_css {
  font-size: 24px;
}
#Banner0_0 .lewbwe680zg-editor_css {
  top: 48%;
}
#Banner0_0 .banner0-text-wrapper > .lewbuoyld7k-editor_css {
  line-height: 36px;
  height: 36px;
}
#Banner0_0.lewbva06aif-editor_css {
  background-image: url(https://e.joyuai.com/joyuai/background_pic1.png);
}
#Content5_0 .home-page > .title-wrapper > .lepbrpfippt-editor_css {
  height: 520px;
  background-image: url(https://e.joyuai.com/joyuai/pic_certificate@2x.png);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  margin: 16px 0px 0px;
}

@media screen and (max-width: 767px) {
  #Content5_0 .home-page > .title-wrapper > .lepbrpfippt-editor_css {
    height: 200px;
    background-image: url(https://e.joyuai.com/joyuai/pic_certificate@2x.png);
    background-attachment: scroll;
    background-blend-mode: normal;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: padding-box;
    margin: 16px 0px 0px;
  }
}
