@media screen and (max-width: 767px) {
  #Feature0_0 .home-page > div > .lesb7cfaudt-editor_css {
    top: 20%;
    padding: 8px 0px;
  }
}
#Feature0_0 .lesc35z1sdd-editor_css {
  padding: 120px 24px 64px;
}

@media screen and (max-width: 767px) {
  #Feature0_0 .lesc35z1sdd-editor_css {
    padding: 64px 0 0;
  }
}
#Feature0_0.lesc2lgzjdo-editor_css {
  height: 800px;
}
#Feature0_0 .ant-col > .content0-block-item > .lewbep8om5o-editor_css {
  overflow: hidden;
  height: 78px;
  margin: auto auto 16px;
}
#Feature0_0 .ant-row > .ant-col > .lewbjynhs0p-editor_css {
  margin: 16px 0 0;
}
#Feature0_0 .ant-col > .content0-block-item > .lfq7qyxtcgo-editor_css {
  text-align: left;
}
#Feature0_0 .ant-col > .content0-block-item > .lfq7r1mdnk-editor_css {
  text-align: left;
}
#Feature0_0 .ant-col > .content0-block-item > .lfq7r3q0tyn-editor_css {
  text-align: left;
}
#Feature0_0 .ant-col > .content0-block-item > .lfq7rddtskc-editor_css {
  text-align: left;
}
#Footer1_1 .ant-row > .ant-col > .m4qoko4k0zr-editor_css {
  width: 360px;
}
#Footer1_1 .ant-col > div > .m4qokxunck-editor_css {
  width: 320px;
}
