#Footer1_0 .footer1 > .ant-row > .lef1vozp3tn-editor_css {
  display: none;
}
#Footer1_0 .footer1 > .ant-row > .lef1vvdqbh8-editor_css {
  display: none;
}
#Footer1_0 .footer1 > .ant-row > .lef1vx6n0s6-editor_css {
  display: none;
}
#Footer1_0 .ant-col > div > .lef23g4be89-editor_css {
  display: none;
}
#Footer1_0 .ant-row > .ant-col > .lef22d3hozk-editor_css {
  width: 360px;
}

@media screen and (max-width: 767px) {
  #Footer1_0 .ant-row > .ant-col > .lef22d3hozk-editor_css {
    text-align: left;
    width: 360px;
  }
}

@media screen and (max-width: 767px) {
  #Footer1_0 .copyright-wrapper > .home-page > .lefhcgmys6q-editor_css {
    margin: 0px 0px;
    padding: 0px 0px;
  }
}
#Footer1_0 .footer1 > .ant-row > .lescghl4q77-editor_css {
}
#Footer1_0 .ant-col > div > .lescfg5f5jn-editor_css {
  width: 360px;
  float: left;
  margin: 0px 0px 12px;
}

@media screen and (max-width: 767px) {
  #Footer1_0 .ant-col > div > .lescfg5f5jn-editor_css {
    text-align: left;
    width: 360px;
    float: left;
    margin: 0px 0px 12px;
  }
}

@media screen and (max-width: 767px) {
  #Feature0_0 .home-page > div > .lesb7cfaudt-editor_css {
    top: 20%;
    padding: 8px 0px;
  }
}
#Feature0_0 .lesc35z1sdd-editor_css {
  padding: 120px 24px 64px;
}

@media screen and (max-width: 767px) {
  #Feature0_0 .lesc35z1sdd-editor_css {
    padding: 64px 0 0;
  }
}
#Feature0_0.lesc2lgzjdo-editor_css {
  height: 800px;
}
#Feature0_0 .ant-col > .content0-block-item > .lewbep8om5o-editor_css {
  overflow: hidden;
  height: 78px;
  margin: auto auto 16px;
}
#Feature0_0 .ant-row > .ant-col > .lewbjynhs0p-editor_css {
  margin: 16px 0 0;
}
#Feature0_0 .ant-col > .content0-block-item > .lfq7qyxtcgo-editor_css {
  text-align: left;
}
#Feature0_0 .ant-col > .content0-block-item > .lfq7r1mdnk-editor_css {
  text-align: left;
}
#Feature0_0 .ant-col > .content0-block-item > .lfq7r3q0tyn-editor_css {
  text-align: left;
}
#Feature0_0 .ant-col > .content0-block-item > .lfq7rddtskc-editor_css {
  text-align: left;
}
