#Footer1_0 .footer1 > .ant-row > .lef1eu1cjt6-editor_css {
  display: none;
}
#Footer1_0 .footer1 > .ant-row > .lef1hczz4xu-editor_css {
  display: none;
}
#Footer1_0 .footer1 > .ant-row > .lef1hfljpm-editor_css {
  display: none;
}
#Footer1_0 .ant-row > .ant-col > .lef1hh63x3-editor_css {
  width: 360px;
}

@media screen and (max-width: 767px) {
  #Footer1_0 .ant-row > .ant-col > .lef1hh63x3-editor_css {
    text-align: left;
    width: 360px;
  }
}
#Footer1_0 .ant-col > div > .lef1jzhlzb-editor_css {
  display: none;
}

@media screen and (max-width: 767px) {
  #Footer1_0 .ant-col > div > .lef1jzhlzb-editor_css {
    display: none;
  }
}
#Content5_0 .home-page > div > .lesclbnlpd-editor_css {
  position: relative;
}

@media screen and (max-width: 767px) {
  #Content5_0 .home-page > div > .lesclbnlpd-editor_css {
    display: block;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  #Footer1_0 .footer1 > .lescjbp4lvj-editor_css {
    position: static;
    margin: 0 auto auto;
    padding: 32px 24px;
  }
}

@media screen and (max-width: 767px) {
  #Content5_0 div > .ant-row > .lesclwqs6q-editor_css {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-row > .ant-col > .lescxk4gwy-editor_css {
    height: 100%;
  }
}
#Content5_0 .lesben58og-editor_css {
  padding: 64px 24px;
}

@media screen and (max-width: 767px) {
  #Content5_0 .lesben58og-editor_css {
    height: 100vh;
    padding: 64px 24px 128px;
  }
}
#Content5_0.lesc1qn1byn-editor_css {
  min-height: 800px;
}

@media screen and (max-width: 767px) {
  #Content5_0.lesc1qn1byn-editor_css {
    height: 2560px;
    min-height: 800px;
  }
}
#Content5_0 .home-page > .title-wrapper > .lew6nfqiuzc-editor_css {
  display: none;
}
#Footer1_0 .ant-col > div > .lew6kgczr88-editor_css {
  width: 320px;
  margin: 0 0 12px;
}

@media screen and (max-width: 767px) {
  #Footer1_0 .ant-col > div > .lew6kgczr88-editor_css {
    text-align: left;
    width: 320px;
    margin: 0px 0px 12px;
  }
}
#Content5_0 .ant-col > .content5-block-content > .lfwcdp24k8p-editor_css {
}
