#Footer1_0 .footer1 > .ant-row > .lef1eu1cjt6-editor_css {
  display: none;
}
#Footer1_0 .footer1 > .ant-row > .lef1hczz4xu-editor_css {
  display: none;
}
#Footer1_0 .footer1 > .ant-row > .lef1hfljpm-editor_css {
  display: none;
}
#Footer1_0 .ant-row > .ant-col > .lef1hh63x3-editor_css {
  width: 360px;
}

@media screen and (max-width: 767px) {
  #Footer1_0 .ant-row > .ant-col > .lef1hh63x3-editor_css {
    text-align: left;
    width: 360px;
  }
}
#Footer1_0 .ant-col > div > .lef1jzhlzb-editor_css {
  display: none;
}

@media screen and (max-width: 767px) {
  #Footer1_0 .ant-col > div > .lef1jzhlzb-editor_css {
    display: none;
  }
}
#Content5_0 .home-page > div > .lesclbnlpd-editor_css {
  position: relative;
}

@media screen and (max-width: 767px) {
  #Content5_0 .home-page > div > .lesclbnlpd-editor_css {
    display: block;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  #Footer1_0 .footer1 > .lescjbp4lvj-editor_css {
    position: static;
    margin: 0 auto auto;
    padding: 32px 24px;
  }
}

@media screen and (max-width: 767px) {
  #Content5_0 div > .ant-row > .lesclwqs6q-editor_css {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-row > .ant-col > .lescxk4gwy-editor_css {
    height: 100%;
  }
}
#Content5_0 .lesben58og-editor_css {
  padding: 64px 24px;
}

@media screen and (max-width: 767px) {
  #Content5_0 .lesben58og-editor_css {
    height: 100vh;
    padding: 64px 24px 128px;
  }
}
#Content5_0 .home-page > .title-wrapper > .lew6nfqiuzc-editor_css {
  display: none;
}
#Footer1_0 .ant-col > div > .lew6kgczr88-editor_css {
  width: 320px;
  margin: 0 0 12px;
}

@media screen and (max-width: 767px) {
  #Footer1_0 .ant-col > div > .lew6kgczr88-editor_css {
    text-align: left;
    width: 320px;
    margin: 0px 0px 12px;
  }
}
#Content5_0 .ant-col > .content5-block-content > .li87gefj7l-editor_css {
  height: 184px;
  padding: 0% 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .li87gefj7l-editor_css {
    height: 220px;
    background-color: #ffffff;
    padding: 0% 0%;
  }
}
#Content5_0 .ant-col > .content5-block-content > .lfwcdp24k8p-editor_css {
  height: 184px;
  padding: 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .lfwcdp24k8p-editor_css {
    height: 220px;
    background-color: rgb(255, 255, 255);
    padding: 0% 0%;
  }
}
#Content5_0 .ant-col > .content5-block-content > .li88c9irkzl-editor_css {
  height: 184px;
  padding: 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .li88c9irkzl-editor_css {
    height: 220px;
    background-color: rgb(255, 255, 255);
    padding: 0% 0%;
  }
}
#Content5_0 .ant-col > .content5-block-content > .li88cfxjd8u-editor_css {
  height: 184px;
  padding: 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .li88cfxjd8u-editor_css {
    height: 220px;
    background-color: rgb(255, 255, 255);
    padding: 0% 0%;
  }
}
#Content5_0 .ant-col > .content5-block-content > .li88cnhkvmf-editor_css {
  height: 184px;
  padding: 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .li88cnhkvmf-editor_css {
    height: 220px;
    background-color: rgb(255, 255, 255);
    padding: 0% 0%;
  }
}
#Content5_0 .ant-col > .content5-block-content > .li88cva8ix8-editor_css {
  height: 184px;
  padding: 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .li88cva8ix8-editor_css {
    height: 220px;
    background-color: rgb(255, 255, 255);
    padding: 0% 0%;
  }
}
#Content5_0 .ant-col > .content5-block-content > .li88d07wh5b-editor_css {
  height: 184px;
  padding: 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .li88d07wh5b-editor_css {
    height: 220px;
    background-color: rgb(255, 255, 255);
    padding: 0% 0%;
  }
}
#Content5_0 .ant-col > .content5-block-content > .li88d5n1rhq-editor_css {
  height: 184px;
  padding: 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .li88d5n1rhq-editor_css {
    height: 220px;
    background-color: rgb(255, 255, 255);
    padding: 0% 0%;
  }
}
#Content5_0 .ant-col > .content5-block-content > .li88damsh1u-editor_css {
  height: 184px;
  padding: 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .li88damsh1u-editor_css {
    height: 220px;
    background-color: rgb(255, 255, 255);
    padding: 0% 0%;
  }
}
#Content5_0 .ant-col > .content5-block-content > .li88dfnofsa-editor_css {
  height: 184px;
  padding: 0%;
}

@media screen and (max-width: 767px) {
  #Content5_0 .ant-col > .content5-block-content > .li88dfnofsa-editor_css {
    height: 220px;
    background-color: rgb(255, 255, 255);
    padding: 0% 0%;
  }
}
#Content5_0 .home-page > .title-wrapper > .li8blheik5-editor_css {
  color: rgb(51, 51, 51);
}
#Content5_0 .ant-col > .content5-block-content > .li8bqg7bre9-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8bqu8sulf-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8bqy24uq-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8br1n02ep-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8br5g0xo-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8br8vtom-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8brccsld7-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8brfjum8i-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8brjc6qno-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8brmj4v87-editor_css {
  color: #333333;
}
#Content5_0 .ant-col > .content5-block-content > .li8brpdomej-editor_css {
  color: #333333;
}
#Content5_0.lesc1qn1byn-editor_css {
  min-height: 800px;
}

@media screen and (max-width: 767px) {
  #Content5_0.lesc1qn1byn-editor_css {
    height: 3420px;
    min-height: 800px;
  }
}
